<footer class="footer">
    <div class="bottom">
        <p><span><%-config.author %> &copy; <%if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) {%><%- theme.since_year %> - <%}%><%- date(new Date(), 'YYYY') %></span></p>	
		<span><%- partial('plugins/site-visit') %></span>
		<p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>   
    </div>
</footer>
